// Body
//
// Settings for the `<body>` element.

$body-bg:       #f3f0ff !default;
$body-color:    #f3f0ff !default;

//Fonts

$body-font-family: 'Cormorant Garamond', sans-serif;
$header-font-family: 'Cormorant Garamond', sans-serif;
$paragraph-font-family: 'Cormorant Garamond', sans-serif;

// Custom Colors

$yellow:  #f08201;
$blue: #3f2d4e;

//Custom Buttons

$btn-border-radius: 0.5rem;
$btn-border-radius-lg: 0.5rem;
$btn-border-radius-sm: 0.5rem;